.form-container{
  margin-bottom: 1em;
  input {
    border: none;
    border-radius: 5px;
    width: 120px;
    margin-right: .5em;
    font-weight: 700;
    outline: none;
  }
  button {
    padding: .2em .5em;
    font-weight: 700;
    background-color: darkgreen;
    border: none;
    color: white
  }
}