.App {
  text-align: center;
  background-color: #282c34;
  min-height: 80vh;
  min-width: 90vw;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  background-color: aliceblue;
}